<!DOCTYPE html>
<html>
<head>
    <title>Form Example</title>
</head>
<body>
    <form action="/submit" method="post">
        <label for="username">Username:{{ username }}</label><br>
{#        <input type="text" id="username" name="username">{{ username }}<br>#}
        <label for="password">Password:{{ password }}</label><br>
{#        <input type="password" id="password" name="password">{{ password }}<br>#}
        <label for="email">Email:{{ email }}</label><br>
{#        <input type="email" id="email" name="email">{{ email }}<br>#}
        <label for="description">Description:{{ description }}</label><br>
{#        <textarea id="description" name="description">{{ description }}</textarea><br>#}
{#        <label for="gender">Gender:</label><br>#}
{#        <select id="gender" name="gender">#}
{#            <option value="male">Male</option>#}
{#            <option value="female">Female</option>#}
{#        </select><br>#}
{#        <input type="submit" value="Submit">#}
    </form>
</body>
</html>