<!DOCTYPE html>
<html>
<head>
    <title>Login/Register</title>
    <style>
        /* 添加一些基本的样式 */
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .button {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <p>Please choose to login or register:</p>
    <a href="{{ url_for('login')}}">Login</a>
    <a href="{{ url_for('register') }}">Register</a>
</body>
</html>